[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
load-dotenv = "*"
openai = "*"
flask = "*"
fastapi = "*"
uvicorn = "*"
pygame = "*"
jupyter = "*"
huggingface-hub = "*"
googlesearch-python = "*"
google-search-results = "*"
tweepy = "*"
env = "*"
pandas = "*"
tabulate = "*"
langchain-experimental = "*"
wikipedia = "*"
faiss-cpu = "*"
tiktoken = "*"
argilla = "*"
pre-commit = "*"
black = "*"
streamlit = "*"
pinecone-client = "*"
pypdf = "*"
pypdf2 = "*"
instructorembedding = "*"
sentence-transformers = "*"
streamlit-chat = "*"
watchdog = "*"
spacy = "*"
qrcode = "*"
wordcloud = "*"
steamship = "*"
pyautogui = "*"
xlwings = "*"
pywinauto = "*"

[dev-packages]

[requires]
python_version = "3.10"
